{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
    	var demovalue = $(this).val(); 
        $("div.myDiv").hide();
        $("#show"+demovalue).show();
    });
});
</script>

<h1>
    <span>{{ user.username }}, 
        {% if user.is_superuser %}
            Admin
        {% else %}     
            Cashier    
        {% endif %}
</span>
</h1>
<div class="messages">
    {% for message in messages %}

        <div class="alert alert-success" style="color:green;"> {{ message }}</div>

    {% endfor %}
</div>

<a href = {% url 'free_event'%}>  Create A Free Event</a>
<br>
<br>
<a href = {% url 'paid_event'%}>  Create A Paid Event</a>
<br>
<br>
<a href = {% url 'free_events_page'%}> View Free Events </a>

<br>
<br>