:root {

  --cadet-blue-crayola: hsl(220, 14%, 75%);
  --dark-electric-blue: hsl(217, 9%, 45%);
  --shamrock-green: hsl(146, 51%, 41%);
  --sea-green_10: hsla(146, 75%, 30%, 0.1);
  --eerie-black: hsl(218, 12%, 13%);
  --sea-green: hsl(146, 75%, 30%);
  --honeydew: hsl(146, 74%, 94%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);


  --primary: #933ded;
  --dark: #232323;
  --pure: #fff;
  --smoke: whitesmoke;
  --dark-gray: #999;
  --tgreen:#477b78;
  --orange:#ff7800;
  --green:#132a09;






    /* For navbar */
  -webkit-font-smoothing: antialiased;

  /**
   * typography
   */

  --ff-kumbh-sans: 'Kumbh Sans', sans-serif;

  --fs-1: 2.8rem;
  --fs-2: 1.8rem;
  --fs-3: 1.5rem;
  --fs-4: 1.2rem;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * box-shadow
   */

  --shadow-1: 0 2px 3px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 10px 30px -10px var(--sea-green);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-15: 15px;
  --radius-12: 12px;
  --radius-10: 10px;
  --radius-6: 6px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { 
  height: auto; 
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 40px;
}

html {
  font-family: var(--ff-kumbh-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: rgba(40, 98, 47, 0.627);
  color: var(--dark-electric-blue);
  font-size: 1.6rem;
}

main button{
    padding-top: 30px;
    padding-left: 30px;
 
}

section{
  margin: 20px;
}



/* For Navbar */

.containers {
  width: 100%;
  background: #0f4032;

}
.containers .brand{
  padding-left: 40px;
}


.containers .nav-list{
  padding-right: 40px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand svg {
  height: 30px;
  margin-right: 10px;
}

.brand svg path {
  fill: var(--pure);
}

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-wrapper ul.nav-list li {
  margin-left: 30px;
  padding: 20px 0;
  position: relative;
}


.nav-wrapper ul.nav-list li a {
  color: var(--pure);
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
  color: var(--orange);
}

.btn {
  background: var(--tgreen);
  color: var(--pure);
  outline: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all .5s ease-in-out;
}

.btn:hover {
  background: var(--dark);
  border-color: var(--light-green);
}

.btns {
  background: var(--tgreen);
  color: var(--pure);
  outline: none;
  padding:20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all .5s ease-in-out;
}

.btns:hover {
  background: var(--dark);
  border-color: var(--light-green);
}

main section.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 160px;
}

main section.header h1 {
  font-size: 36px;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 20px;
}

main section.header h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 20px;
}
nav ul.dropdown-list {
  list-style-type: none;
  display: block;
  background: var(--smoke);
  padding: 6px 16px;
  position: absolute;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
  margin-left: 0;
  padding: 5px 0;
}

.nav-wrapper ul.dropdown-list  li a {
  color: var(--tgreen);
} 

.nav-wrapper ul.nav-list li:hover .dropdown-list {
  opacity: 1;
  pointer-events: auto;
  animation: moveUp .5s ease-in-out forwards;
}


nav ul.form {
  list-style-type: none;
  display: block;
  background: var(--smoke);
  padding: 6px 16px;
  position: absolute;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.nav-wrapper ul.form li {
  margin-left: 0;
  padding: 5px 0;
}

.nav-wrapper ul.form  li a {
  color: var(--orange);
} 

.nav-wrapper ul.nav-list li:hover .form {
  opacity: 1;
  pointer-events: auto;
  animation: moveUp .5s ease-in-out forwards;
}


@keyframes moveUp {
  0% {
      opacity: 0;
      transform: translateX(-50%) translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) translateY(20px); 
  }
}

.hamburger {
  display: flex;
}

.mobile .hamburger {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
}

.mobile .hamburger span {
  background: var(--pure);
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
}

.mobile ul.nav-list {
  background: -webkit-linear-gradient(45deg, #434343, #000000);
  background: linear-gradient(45deg, #434343, #000000);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
}

.hamburger, .brand {
  z-index: 9999;
}

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto;  
}

.mobile .hamburger span {
  transform-origin: left;
  transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
  font-size: 20px;
}

.mobile ul.dropdown-list {
  position: relative;
  background: transparent;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: opacity 1s ease-in-out;
  padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
  height: max-content;
  padding-top: 6px;
}

.mobile ul.nav-list li {
  margin-left: 0;
  text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
  color: var(--dark-gray);
}
/* End Navbar */







/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { 
  padding-inline: 15px; 
  background:var(--tgreen);
  padding: 40px;
  border-radius: 15px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main a{
  color: var(--green);
  padding-left: 80px;
  padding-top: 10px;
}

.header{
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:#fff;
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:var(--black);
}

.header .logo i{
  color:var(--orange);
}

.header .navbar a{
  font-size: 1.7rem;
  margin:0 1rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--orange);
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--orange);
  color:#fff;
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:110%; right:-110%;
  width: 50rem;
  height:5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
}

.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .search-form label:hover{
  color:var(--orange);
}

.header .shopping-cart{
  position: absolute;
  top:110%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
}

.header .shopping-cart.active{
  right:2rem;
  transition: .4s linear;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap:1rem;
  position: relative;
  margin:1rem 0;
}

.header .shopping-cart .box img{
  height:10rem;
}

.header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor: pointer;
  color:var(--light-color);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
  color:var(--orange);
}

.header .shopping-cart .box .content h3{
  color:var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
  color:var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.header .shopping-cart .btn{
  display: block;
  text-align: center;
  margin:1rem;
}

.header .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.header .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--light-color);
}

.header .login-form p a{
  color:var(--orange);
  text-decoration: underline;
}



/*-----------------------------------*\
  #MAIN CONTENT
\*-----------------------------------*/

.product-slides {
   background: rgba(220, 231, 221, 0.627);
   /* margin: 20px; */
}

.slider-banner {
  display: flex;
  transition: var(--transition-2);
}

/* .product-banner {
  max-width: 100%;
  max-height: 300px;
} */


.product-content {
  background: rgba(220, 231, 221, 0.627);
  border-radius: 10px;
}

.pcontent {
  padding:20px;

}
/* .pslides {
  padding:20px;
} */

.product-content .product-subtitle {
  color: var(--sea-green);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-content .product-title {
  color: var(--eerie-black);
  font-size: var(--fs-1);
  line-height: 1.1;
  margin-block: 12px 18px;
}

.product-content .product-text {
  font-size: var(--fs-3);
  line-height: 1.7;
}

.product-content .wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 10px 5px;
}

.product-content .price {
  color: var(--eerie-black);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.product-content .badge {
  background-color: var(--sea-green_10);
  color: var(--sea-green);
  font-weight: var(--fw-700);
  padding: 4px 10px;
  border-radius: var(--radius-6);
}

.product-content .del {
  color: var(--cadet-blue-crayola);
  font-weight: var(--fw-500);
  margin-inline-start: auto;
}


.cart-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--sea-green);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 12px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
}

.cart-btn ion-icon { --ionicon-stroke-width: 60px; }

.cart-btn:is(:hover, :focus) { background-color: var(--shamrock-green); }



/*-----------------------------------*\
  #FORM
\*-----------------------------------*/

.myform .input {
  width: 100%;
  height: 35px;
  padding-left: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #00000020;
  border-radius: 50px;
}




/* Footer Section */

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /*serving as a footer section grid media query too*/
  gap:1.5rem;
  background-color: var(--green);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 30px 50px 50px 50px;
  margin-top: 80px;
}

.footer .box-container .box{
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.footer .box-container .box .content{
  padding:2rem;
}

.footer .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .box-container .box .content .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .box-container .box .content .icons a{
  color:var(--light-color);
  font-size: 1.5rem;
}

.footer .box-container .box .content .icons a:hover{
  color:var(--black);
}

.footer .box-container .box .content .icons a i{
  color:var(--orange);
  padding-right: .5rem;
}


.footer .box-container .box .content h4 {
  color: #ffffff;
  font: normal 20px 'Cookie', cursive;
  margin: 0;
}


.footer .box-container .box .content h4 span {
  color: #e0ac1c;
}


.footer .box-container .box .content .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer .box-container .box .content .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .box-container .box .content .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .box-container .box .content i {
  color: #ffffff;
  font-size: 20px;
  width: 38px;
  height: 38px;
}

.footer .box-container .box .content i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .box-container .box .content p {
  display: inline-block;
  color: #ffffff;
  margin: 0;
}

.footer .box-container .box .content .right p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .box-container .box .content .footer-left, .footer .box-container .box .content .right{
  text-align: center;

}


.footer .box-container .box .content .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

.footer .box-container .box .content .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .box-container .box .content .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .box-container .box .content .footer-icons {
  margin-top: 25px;
}

.footer .box-container .box .content .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .box-container .box .content .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer .box-container .box .content .footer-links a:hover {
  color: #3F71EA;
}
    
  






/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 100px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 500px;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header .container { max-width: 720px; }

  .containers .hamburger{
    padding-right: 40px;
  }
  
  /**
   * PRODUCT
   */

  .product { margin-block-start: 45px; }

  .product .container {
    display: grid;
    gap: 20px;
  }

  .product-slides { border-radius: var(--radius-15); }

  .product-banner { 
    max-height: unset;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-banner img{ 
    padding: 20px;
    object-fit: fill;
    width: 100%;
  }

}
@media (min-width: 200px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 500px;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header .container { max-width: 720px; }

  .containers .hamburger{
    padding-right: 10px;
  }
  
  /**
   * PRODUCT
   */

  .product { margin-block-start: 45px; }

  .product .container {
    display: grid;
    gap: 20px;
  }

  .product-slides { border-radius: var(--radius-15); }

  .product-banner { 
    max-height: unset;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-banner img{ 
    padding: 20px;
    object-fit: fill;
    width: 100%;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 700px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.4rem;
    --fs-4: 1.3rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }


  /**
   * HEADER
   */

  .header {
    padding-block: 25px;
    box-shadow: none;
  }

  .header .container {
    max-width: 950px;
    gap: 60px;
  }

  .nav-open-btn,
  .nav-close-btn { display: none; }

  .navbar {
    all: unset;
    display: block;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    padding-block-end: 0;
    color: var(--dark-electric-blue);
    font-weight: var(--fw-500);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus) { color: var(--eerie-black); }

  .profile-btn .img { width: 50px; }



  /**
   * PRODUCT
   */

  .product { margin-block: 75px 100px; }

  .product .container {
    grid-template-columns: 1fr 2fr;
    align-items:flex-start;
    gap: 30px;
  }


  .product-slides { margin-inline: 0; }

  .product-content { padding: 0; }

  .product-title { --fs-1: 4.5rem; }

  .btn-group {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    gap: 15px;
  }

  .counter-wrapper { margin-block-end: 0; }

}

.myform{
  margin-top: 30px;
  margin-left: 20px;
}