{%extends 'home.html' %}

{%block home%}
<section class="home" id="home">

    <div class="content">
        <h3>fresh and <span>organic</span> products for your</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        <!-- <a href="" class="btn">View Events</a> -->
    </div>

</section>

<section class="blogs" id="blogs">
    <div class="myevent">

        <h1 class="heading"> our <span>Events</span> </h1>

        <div class="box-container">
        

                {% for event in object_list %}

                <div class="box" > 
                    <a href="{%url 'free_event_details_page' event.pk%}">
                        <div class="myimage">
                            <img src="{{event.header_images.url}}" alt="">
                        </div>
                    <div class="content">
                        <div class="icons">
                            <p>{{event.event_name}} </p>
                        </div>
                        <div class="icons">
                        <p><i class="fas fa-calendar"></i>Date <i>{{event.event_date}}</i> </p>
                        </div>
                        <div class="icons">
                            <p><i class="fas fa-calendar"></i>Time <i>{{event.event_time}}</i> </p>
                        </div>

                        {%if event.price%}
                        <div class="icons">
                            <p><i class="fas fa-money-check"></i>Fee <i>N5000</i> </p>
                        </div>
                        {%else%}
                        <div class="icons">
                            <p><i class="fas fa-money-check"></i> Fee:- <span style="color: green; font: 1em sans-serif;;">FREE</span> </p>
                        </div>
                        {%endif%}

                        {%if not event.expired_event%}
                            <h3>View Event Details</h3>
                        {%else%}
                            <h3 style="color:orange;" >Event Has EXPIRED</h3>
                        {%endif%}
                        
                    </div>
                    </a>
                </div>
                {%endfor%}
            

        </div>
    </div>

    <div class="next_btn">
        <button class="p_btn"><i class="fa fa-arrow-left">Previous Page</i></button> 
        <button class="n_btn"> <i class="fa fa-arrow-right">Next Page</i></button> 

    </div>

</section>
{%endblock%}