{%extends 'base.html' %}

{% block content%}
<h1>Cancelled Events Page </h1>

<a href="{%url 'dashboard'%}" > Back </a> <br>
<a href="{%url 'paid-event-page'%}" > View Paid Event </a>
<a href="{%url 'free-event-page'%}" > View Free Event </a>


<br>
{% for message in messages %}
          <div  style="text-align: center; color:green;"><strong>{{message}}</strong></div>
{% endfor %}
<br>
<ul>
    {% for event in object_list %}
        {%if event.is_cancelled == 1%}

            <li>
                {%if user.is_superuser%}
                    {%if event.expired_event%}
                        Cannot Edit 
                    {%else%}
                    <a href="{% url 'update_event' event.pk%}">Edit </a>
                    {%endif%}
                    <a href="{% url 'delete_event' event.pk%}"> Delete Event </a>
                    <a href="{% url 'uncancel_event' event.pk%}"> Undo Event </a> <br>
                {%endif%}
                    <a href="{%url 'free_event_details_page' event.pk%}"> {{event.event_name}}</a> <br/>
                    Description: {{event.description}}<br>
                    Location: {{event.location}} <br>

                {%if event.price%}
                    Price: {{event.price}}<br>
                {%endif%}

                {%if event.space_capacity%}
                    Space Capacity: {{event.space_capacity}}<br>
                {%endif%}

                    Event Date: {{event.event_date}} <br>

                {%if event.event_end_date%}
                    End of Registration Date: {{event.event_end_date}} 
                {%endif%}
        </li>
    <hr>
  
    {%endif%}
    {% endfor %}
    </ul>

{%endblock%}