{%extends 'base.html' %}
{% block content%}


<h1> Event Detail </h1>
{%if event.header_images%}
    <img src = "{{event.header_images.url}}" width=400 height = 400><br>
{%endif%}
    Event Name: {{event.event_name}} <br/>
    Description: {{event.description}}<br>
    Location: {{event.location}} <br>

    {%if event.price%}
        Price: {{event.price}}<br>
        
    {%else%}
        Price: Free <br>
        
    {%endif%}

    {%if event.space_capacity%}
    Space Capacity: {{event.space_capacity}}<br>

    {{event.bookings}} People Registered<br>

    {{event.slot_left}} Slot left<br>
    {%endif%}

    Event Date: {{event.event_date}} <br>

    {%if event.event_end_date%}
        End of Registration Date: {{event.event_end_date}} <br>
    {%endif%}

    {% for customer in object_list %}
    Number of people registered
    {%endfor%}

    
   {% if event.space_capacity%}

    <form action="{% url 'vote' event.pk %}" method="post">
        {% csrf_token %}
        <div>
            <input type="radio" name="poll" id="exampleRadios1" value="option1" required>
            <label for="exampleRadios1">
                I have read Terms and Conditions
            </label>
        </div>

        <div>
            <label>Email</label> 
            <input type="text" required onkeyup="this.setAttribute('value', this.value);" name="email" placeholder="Email" value="">
        </div>
          <div>
            <label>Phone Number</label>
            <input type="number" required onkeyup="this.setAttribute('value', this.value);" name="phone" placeholder="Phone Number" value=""> 
          </div>

          <div>
            <input type="radio" name="event_id" id="exampleRadios12" value="option2" required>
            <label for="exampleRadios1">
                I have read Terms and Conditions 2
            </label>
        </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
    </form>
    {%endif%}

    {%if event.event_end_date%}
            {{event.bookDate}}
    {%endif%}

    <a href="{%url 'candidate' event.pk%}" > View Dashboard </a>

{%endblock%}